{%extends 'base.html' %}

<!-- title -->
{%block title%}
Forgot password?
{%endblock%}
<!-- title -->

<!-- meta tag -->
{%block meta-tag%}

{%endblock%}
<!-- meta tag -->

<!-- content area -->
{%block content%}
{%include 'components/nav/default.html'%}
{%include 'components/message.html'%}
<div class="container min-height-90vh">
    <div class="row my-3">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <p class="h3">Forgot password?</p>
            <p>Please enter your registered email and we will email you the password reset link to your email</p>
            <form action="{%url 'account:forgot-password'%}" method="post">
                {%csrf_token%}
                <div class="input-group">
                    <input type="text" name="email" class="form-control" placeholder="Enter your email">
                    <button type="submit" class="btn btn-primary">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
{%include 'components/footer/default.html'%}
{%endblock%}
<!-- content area -->