{%extends 'base.html' %}

<!-- title -->
{%block title%}
Account Login
{%endblock%}
<!-- title -->

<!-- meta tag -->
{%block meta-tag%}

{%endblock%}
<!-- meta tag -->

<!-- content area -->
{%block content%}
{%include 'components/nav/default.html'%}
{%include 'components/message.html'%}
<div class="container min-height-90vh my-5">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <p class="h3">Login</p>
            <form action="{%url 'account:login'%}" method="post">
                {% csrf_token %}
                <input type="text" name="email" class="form-control my-3" placeholder="Email">
                <input type="password" name="password" class="form-control " placeholder="password">
                <p class="my-2"><a href="{%url 'account:forgot-password'%}">Forgot password?</a></p>
                <button type="submit" class="btn btn-primary my-2">Login</button>
            </form>
        </div>
    </div>
</div>

{%include 'components/footer/default.html'%}
{%endblock%}
<!-- content area -->