{%extends 'base.html' %}

<!-- title -->
{%block title%}
Reset Password
{%endblock%}
<!-- title -->

<!-- meta tag -->
{%block meta-tag%}

{%endblock%}
<!-- meta tag -->

<!-- content area -->
{%block content%}
{%include 'components/nav/default.html'%}
{%include 'components/message.html'%}
<div class="container min-height-90vh">
    <div class="row my-5">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <p class="h3">Set new Password</p>
            <form action="{%url 'account:reset-password' %}" method="post">
                {%csrf_token%}
                    <input type="hidden" name="token" value="{{token}}">
                    <input type="password" name="password1" class="form-control my-2" placeholder="Enter the new password." required>
                    <input type="password" name="password2" class="form-control my-2" placeholder="Re-enter the new password." required>
                    <button type="submit" class="btn btn-primary">Reset</button>
            </form>
        </div>
    </div>
</div>
{%include 'components/footer/default.html'%}
{%endblock%}
<!-- content area -->