<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <p>Hello</p>
    <p>We are sending you this email because a password reset request has been initiated for your account associated with this email address.</p>
    <p>You can use the below otp to reset yuor password</p>
    <h2>{{otp}}</h2>
    <p><a href="{{ link }}">Click here</a> to proceed with the password reset. </p>
    <p>or</p>
    <p>You can copy and paste this link in your brower to reset the password <br><a href="{{ link }}">{{ link }}</a></p>
    <p>If you did not initiate this request, please disregard this email.</p>
    <p>Regard</p>
</body>
</html>
