<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <p>Hello</p>
    <p>We are sending you this email because a password reset request has been initiated for your account associated with this email address.</p>
    <p>If you initiated this request, please <a href="{{ link }}">click here</a> to proceed with the password reset.</p>
    <p>If you did not initiate this request, please disregard this email.</p>
    <p>Regard</p>
</body>
</html>
